/* Set the body color to 'black', font to arial and font color to white. */
body {background-color:black; 
    font-family: Arial; 
    color:white;
    font-weight: bold;
}
/*   color to 'grey' and font to verdana.*/
h1{color:grey; font-family: verdana; text-align:center;}

/* Set the background color to white, font color to black, width to 300 pixels, and padding to 20px in the newly created maindiv class. */
.maindiv{
    background-color:white; 
    color:black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
    
    
}
select{
    width: 40px;
}

.inp1 {
    margin-left: 75px;
}
.inp2 {
    margin-left: 40px;
}

input#principal{
    margin-left: 70px;
}

span#result{
    margin-left: 75px;  
}